---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bootstrap/variables";
@import "freelancer/variables";

$nav-pills-active-link-hover-bg:  $theme-primary;

@import "_bootstrap";
@import "_freelancer";
@import "pygments";



pre {
  background-color: #f5f5f5;
}

body {
  position: relative;
}

h1 {
  margin-top: 50px;
}

h2 {
  margin-top: 35px;
}

header {
  .title {
    background-color: $theme-primary;

    .container {
      padding-top: 0px;
      padding-bottom: 0px;
    }

    .intro-text .name {
      text-transform: none;
    }
  }

  .description {
    .container {
      padding-top: 0px;
      padding-bottom: 50px;
    }
  }
}

.deprecated {
  text-decoration: line-through;
}

.navbar-custom {
  border-radius: 0px;
  margin-bottom: 0px;
}

#main-container {
  margin-bottom: 50px;
}

#sidebar-nav {
  padding-top: 30px;

  a, a:hover {
    color: #333333;
  }

  li {
    font-size: 16px;
    font-weight: bold;
  }

  &.affix-top {
    position: static;
    width: 228px;
  }

  &.affix {
    position: fixed;
    top: 0px;
    width:228px;
  }

  .nav {
    padding-left: 30px;
    //display: none;
  }

  .active {
    > a {
      color: $nav-pills-active-link-hover-color;
      background-color: $nav-pills-active-link-hover-bg;
    }

    > ul {
      display: block;
    }
  }
}

#version-container {
  .panel {
    margin-bottom: 50px;

    h2 {
      margin-top: 0px;
    }

    .fa {
      margin-right: 10px;
    }

    .panel-heading {
      .btn {
        width: 150px;
      }
    }

    .list-group-item {
      font-size: 16px;
    }
  }
}

@media(min-width:$screen-sm-min) {
  header .intro-text .name {
    font-size: 3em;
  }
}

@media(min-width:$screen-sm-min) and (max-width: $screen-md-min) {
  .navbar-custom {
    .navbar-brand {
      font-size: 18px;
    }
  }
}

@media (max-width: $screen-sm-min) {
  header .container {
    padding-top: 0px;
    padding-bottom: 50px;
  }
}
