sudo: false
language: java
jdk:
- oraclejdk7
- oraclejdk8
after_success:
- bash .travis_after_success.sh
cache:
  directories:
  - "$HOME/.m2"
env:
  global:
    - secure: "nbGP8rTEj2KBqMe7yX+ZqPUPgVu4GI8qx5/BQSXgFNsSahWv/cNCc+l/vXn6SBsbm3q5N2MnQ2uAGVGUYgpvazPTlzicE4TXWEZMMh3+WhzROlhpYWOup0fT6UPXhm70uIefaxD3oB/BVeG+EtYvU/wQq4ZLXUn8AL7/yTqhDRxLEUU3r1P+je62a4Tj1I/MPZNTbN3MU+8QMk9mb9IMkABsXYcT9LNYJaI9DMtkmc0f4nhvAPpm5YCJJQsZI4KeSyUtwfDLNsfHAUAmRr4iE7Ac6jpHIYbCYjJEQDW/oNE1s9+9P6dEM3G4aW5by3ak+BOHMZL8ql8vmEUwCZNXeG0Y+5csGXh8Y6gTxGBT5OEs3+/QyAfMpUCtk4p0RCygmMMNWxkuo8mIlNtBKzD041B6XYEHkBhz4zL847D1RtiLPtk5zejjto0UqD4x8a/XIHE8rsUl9FZnCkpDIY5JvwetnKBKCdIRuxNN7kCwbKvgkkswmp+uVUa9KZMiB+m6TfanyPCtgDzcHFEe8VK5XVpRzCbVKTly3ti7pPJZtMhVM3s8ClKOZk/BaFKjhtyBdIXVcn6RXp2am1WeVLjyJeMhLCrN8zTkWWqxmStFpteNYYUI4Izv5sFfMhZs8LqVMrOf7ZvM9jynAkVwPYiAK6UOat8gvIfOTHBEw1xYWEw="
    - secure: "OGrsHUVGov643GcbjG3vN5Tn+xZzez/a8lzZWWjBBmmDAwiwyMOu66uqNC+Vbhd/Vj5GP/uNnY1HiGTHKTDch+i7HZHL9X+Obd2MDsrdHi98BTeqr3X6vz3pNLub08jufGbtLBGhnSx4jHqHy50ggvy5jH/akY8HOroBdFFnR1e2OkxZIshCspfF53txbmyzrcpfUc2gk74sSS/JxUUnhwjl9KNtt0woGyVs07BAo4ajY006DGo6vAnEMtpSOWAZ3EAFR4nV94g7t/16XwUPIft+DnRM2Grj4sJS3uSVY5kEO7gwYB6m138Zh3Gunb5bNVkazFzoGYmznRcrNAU7Pr0cS5v456sRCpaxXRKXyMO+5/sChQtJUbF7+AV/Poh34gVPZt03yD2i2ksm/laMRFhZMUvMxxBJuR2MEBga8zMISDRYXdWSQDW2UqrBO7+MkRbr/IhTexL5D3rgnn2K8affWd557zUzmJfxvLt3GBVSpsJjZg5ZDTCIOFbmKsq2otKHjdR/IDmuY1yUm8NObtRRrKB/IDfSGAzUc40/5UyWVAHeu4kfty4uZEJKIIuB3/jM0eo27QYXOXkwbf0Cgm3beKhVoPVPjuUN+RMYXQC7Hk0s8FAL4RBPoXdFFxpGEOGA/Ji2rJ8pgutJizoeJeL5bFH1JLR/eWBbvUJH+v4="

