{% for section in site.sections %}
    {% unless section.since %}
        {% assign is_since_empty = true %}
    {% else %}
        {% assign is_since_empty = false %}
    {% endunless %}

    {% unless section.until %}
        {% assign is_until_empty = true %}
    {% else %}
        {% assign is_until_empty = false %}
    {% endunless %}

    {% if is_since_empty or section.since <= release_version %}
        {% if is_until_empty or section.until >= release_version %}
            {% include {{ include.closure }} %}
        {% endif %}
    {% endif %}
{% endfor %}
