<!-- jQuery -->
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/freelancer.js"></script>

<script>

    $(document).ready(function() {
        function calculateAffixOffset() {
            return ($('header').outerHeight() + $('#top-nav').outerHeight());
        }

        var navigationContainer = $('#sidebar-nav');
        if (navigationContainer.length > 0) {
            navigationContainer.affix({
                offset: {
                    top: calculateAffixOffset()
                }
            });

            $(window).on("resize", function () {
                navigationContainer.data('bs.affix').options.offset = calculateAffixOffset();
            })
        }
    });
</script>