<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" class="index">
    <a href="https://github.com/scottescue/dropwizard-entitymanager">
      <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10"
           src="{{ site.baseurl }}/img/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
    </a>


    {% include header.html %}

    <div id="main-container" class="container">
      <div class="row">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    {% include javascript.html %}

  </body>

</html>
